@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 9 100% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --dark-gray: #ffffff;
    --primary-white: #1e1e1e
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 89% 70%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --dark-gray: #1e1e1e;
    --primary-white: #fff6ff
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.icon-menu,
.icon-menu::before,
.icon-menu::after,
.icon-close,
.icon-close::before,
.icon-close::after {
  content: "";
  display: block;
  height: 2.7px;
  position: absolute;
  width: 28px;
  border-radius: 20px;
  transition:
    top ease 0.3s,
    transform ease 0.3s 0.3s,
    background 0.3s ease 0.3s;
  background: var(--primary-white);
}

.icon-menu::before {
  top: -7px;
  transition:
    background ease 0.3s,
    top ease 0.3s 0.3s,
    transform ease 0.3s;
}

.icon-menu::after {
  top: 7px;
  transition:
    background ease 0.3s,
    top ease 0.3s 0.3s,
    transform ease 0.3s;
}

.icon-close {
  background: transparent;
}

/* line one of close icon */
.icon-close::before {
  transform: rotate(45deg);
  top: 0px;
  background: var(--primary-white);
}

/* line two of close icon */
.icon-close::after {
  transform: rotate(-45deg);
  top: 0px;
  background: var(--primary-white);
}

#icon {
  transition:
    background ease 0.3s,
    top ease 0.3s 0.3s,
    transform ease 0.3s;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.react-datetime-picker__wrapper {
  border-radius: 10px;
  padding: 12px;
}

.otp-input {
  width: 4rem !important;
  height: 4rem !important;
  border: 1px solid #555;
  margin: 0.5rem !important;
  background: #000;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.ant-select-selector {
  border: 1px solid #555 !important;
  box-shadow: none !important;
  color: #555 !important;
}

@layer base {
  :root {
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary));
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background-color: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;
  z-index: -1;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  will-change: transform;
  animation: shadow-slide infinite 4s linear alternate;
}

.dashboard-shadow {
  position: absolute;
  background: hsl(var(--primary));
  border-radius: 24px;
  rotate: 35deg;
  /* z-index: -1; */
  width: 400px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  will-change: transform;
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

.tt-scrolling-text {
  display: flex;
  position: relative;
  pointer-events: none;
}

.tt-scrolling-text-inner {
  padding-left: 2vw;
  font-size: calc(16px + 6vw);
  line-height: 1;
  font-weight: bold;
  font-weight: 600;
  color: #ccc;
  white-space: nowrap;
  animation-name: tt_scrolling_text;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.tt-scrolling-text-inner:after {
  content: attr(data-text);
}

@keyframes tt_scrolling_text {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Animation direction reverse. */
.tt-scrolling-text.scr-text-reverse .tt-scrolling-text-inner {
  animation-direction: reverse;
}
