@tailwind base;
@tailwind components;
@tailwind utilities;



.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--ternary);
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-datetime-picker__wrapper {
  border-radius: 10px;
  padding: 12px;

}