@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--ternary);
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-datetime-picker__wrapper {
  border-radius: 10px;
  padding: 12px;
}

.otp-input {
  width: 4rem !important;
  height: 4rem !important;
  border: 1px solid #555;
  margin: 0.5rem !important;
  background: #000;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.ant-select-selector {
  border: 1px solid #555 !important;
  box-shadow: none !important;
  color: #555 !important;
}

@layer base {
  :root {
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
  }
}
